/*
 * Basic CSS page
 * lots borrowed from the book Foundation HTML5 canvas by rob hawkes
 * */
* {margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; }
canvas { display: block; }

body {
  background: #000;
  color:#fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 80px;
}

p {
  margin: 10px 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:40px;
  height:50px;
  text-align: center;
}

a.button {
  background: #185da8;
  border-radius: 5px;
  display:block;
  font-size: 30px;
  margin: 40px auto;  /*40px 0 0 270px;*/
  padding: 10px;
  width: 200px;
}

a.button:hover {
  background: #2488f5;
  color: #fff;
  text-decoration: none;
}

#game {
  position: relative;
}

#myCanvas {
  background: #000;
}

#gameUI {
  position: absolute; /* places US on top of the canvas */
  left: 0;
  right: 0;
  margin: 0 auto;
}

#gameIntro, #gameComplete {
  background: rgba(0,0,0,0.5);
  margin-top: 100px;
  padding: 40px 0;
  text-align: center;
}

#gameStats {
  font-size: 30px;
  margin:20px 0;
}

#gameStats.gameReset {
  margin: 20px 20px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}


